body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}
.library-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.lib-header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10% 0;
    background-color: rgb(255, 120, 67);
    border: 3px solid black;
    border-bottom: none;
    gap: 10px;
}
.lib-header>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-prop{
    padding: 10% 0;
    background-color: lightsalmon;
}
.book-prop~.read{
    background-color: lightgreen;
}
.books{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    border: 3px solid black;
    border-top: none;
}
.books>div{
    display: flex;
    align-items: center;
    justify-content: center;
}